/* Responsividad Laptop L */
@media (width > 1024px){
    .MR-creaciones-logo { 
        width: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sobre-mi {
        background-position-y:top;
        margin-top: 10vh;
        padding-top: 5vh;
        padding-bottom: 5vh ;
        height: 100%;
    }
    .descripcion {
        width: 80%;
        padding: 45px;
        font-size: 22px;
        font-weight: 300;
    }
    .trabajos {
        padding-top: 50px;
        margin-inline: 5vw;
    }
    .muestra img {
        padding-block: 5vh;
        margin-top: 1vh;
        width: 80%;
    }
    .muestra p {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

/* Responsividad Laptop */
@media (width <= 1024px){
    .MR-creaciones-logo { 
        width: 60%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sobre-mi {
        background-position-y:top;
        margin-top: 10vh;
        padding-top: 5vh;
        padding-bottom: 5vh ;
        height: 100%;
    }
    .descripcion {
        width: 80%;
        padding: 45px;
        font-size: 22px;
        font-weight: 300;
    }
    .seccion-trabajos {
        padding-top: 50px;
    }
    .trabajos {
        padding-top: 50px;
        margin-inline: 5vw;
    }
    .muestra img {
        padding-block: 5vh;
        margin-top: 1vh;
        width: 80%;
    }
    .muestra p {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

@media (width <= 840px) {
    .btn {
            width: 100%;
            padding: 5px 10px;
        }
}

/* Responsividad Tablet */
@media (width <= 768px) {
    header {
        height: 10vh;
    }
    .MR-logo {
        margin-left: 2vh;
        margin-top: 5px;
        height: 9vh;
    }
    .MR-creaciones-logo { 
        width: 60%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .btn {
        width: 100%;
        padding: 5px 10px;
    }
    .scrolled {
    animation: scrollanim 0.5s;
    }
    @keyframes scrollanim {
    from {background-color: #fad2aa;}
    to {height: 10vh; background-color: #fad2aab0; box-shadow: 0px 5px 5px #000000ab;}
    }
    .sobre-mi {
        background-position-y:top;
        margin-top: 5vh;
        padding-top: 5vh;
        padding-bottom: 5vh ;
        height: 100%;
    }
    .descripcion {
        width: 80%;
        padding: 45px;
        font-size: 18px;
        font-weight: 200;
    }
    h2 {
        font-size: 50px;
    }
    .seccion-trabajos {
        padding-top: 50px;
    }
    .trabajos {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-inline: 0px;
    }
    .muestra img {
        padding-block: 30px;
        margin-top: 30px;
        width: 50%;
    }
    .muestra p {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .contacto {
    padding-block: 20px;
    }
    .contacto-btn {
        padding-top: 10px;
        gap: 20px;
    }
    .contacto-btn a {
        scale: 0.7;
    }
}

@media (width <= 600px) {
    .btn {
        display: none;
    }
}

/* Responsividad Mobile-L */
@media (width <= 425px) {
    header {
        height: 10vh;
    }
    .MR-logo {
        margin-left: 2vh;
        margin-top: 5px;
        height: 9vh;
    }
    .MR-creaciones-logo { 
        width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .btn {
        display: none;
    }
    .scrolled {
    animation: scrollanim 0.5s;
    }
    @keyframes scrollanim {
    from {background-color: #fad2aa;}
    to {height: 10vh; background-color: #fad2aab0; box-shadow: 0px 5px 5px #000000ab;}
    }
    .sobre-mi {
        margin-top: 5vh;
        padding-top: 5vh;
        padding-bottom: 1vh ;
        height: 100%;
    }
    .descripcion {
        width: 80%;
        padding: 45px;
        font-size: 12px;
        font-weight: 200;
    }
    h2 {
        font-size: 48px;
    }
    .seccion-trabajos {
        padding-top: 50px;
    }
    .trabajos {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-inline: 0px;
    }
    .muestra img {
        padding-block: 30px;
        margin-top: 30px;
        width: 60%;
    }
    .muestra p {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .contacto {
    padding-block: 20px;
    }
    .contacto-btn {
        padding-top: 10px;
        gap: 20px;
    }
    .contacto-btn a {
        scale: 0.7;
    }
}


/* Responsividad Mobile-M */
@media (width <= 375px) {
    header {
        height: 10vh;
    }
    .MR-logo {
        margin-left: 2vh;
        margin-top: 5px;
        height: 9vh;
    }
    .MR-creaciones-logo { 
        width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .btn {
        display: none;
    }
    .scrolled {
    animation: scrollanim 0.5s;
    }
    @keyframes scrollanim {
    from {background-color: #fad2aa;}
    to {height: 10vh; background-color: #fad2aab0; box-shadow: 0px 5px 5px #000000ab;}
    }
    .sobre-mi {
        margin-top: 5vh;
        padding-top: 5vh;
        padding-bottom: 1vh ;
        height: 100%;
    }
    .descripcion {
        width: 80%;
        padding: 45px;
        font-size: 12px;
        font-weight: 200;
    }
    h2 {
        font-size: 48px;
    }
    .seccion-trabajos {
        padding-top: 50px;
    }
    .trabajos {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-inline: 0px;
    }
    .muestra img {
        padding-block: 30px;
        margin-top: 30px;
        width: 60%;
    }
    .muestra p {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .contacto {
    padding-block: 20px;
    }
    .contacto-btn {
        padding-top: 10px;
        gap: 20px;
    }
    .contacto-btn a {
        scale: 0.7;
    }
}


/* Responsividad Mobile-S */
@media (width <= 320px) {
    header {
        height: 10vh;
    }
    .MR-logo {
        margin-left: 2vh;
        margin-top: 5px;
        height: 9vh;
    }
    .MR-creaciones-logo { 
        width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .btn {
        display: none;
    }
    .scrolled {
    animation: scrollanim 0.5s;
    }
    @keyframes scrollanim {
    from {background-color: #fad2aa;}
    to {height: 10vh; background-color: #fad2aab0; box-shadow: 0px 5px 5px #000000ab;}
    }
    .sobre-mi {
        margin-top: 10vh;
        height: 600px;
    }
    .descripcion {
        width: 80%;
        padding: 50px;
        font-size: 10px;
        font-weight: 200;
    }
    h2 {
        font-size: 46px;
    }
    .seccion-trabajos {
        padding-top: 50px;
    }
    .trabajos {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-inline: 0px;
    }
    .muestra img {
        padding-block: 30px;
        margin-top: 30px;
        width: 70%;
    }
    .muestra p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .contacto {
    padding-block: 20px;
    }
    .contacto-btn {
        padding-top: 10px;
        gap: 20px;
    }
    .contacto-btn a {
        scale: 0.7;
    }
}
