
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --naranja: #FE8F21;
    --oscuro:  #2C2C2C;
    --claro:   #e4e4e4;
    --suave:   #fad2aa;
    --azul:    #4DA8DA;
    --marron:  #4B332B;
}

header {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--suave);
    background-size: cover;
    height: 15vh;
    width: 100%; /* Ocupa toda la pantalla */
    flex-direction: row;
    border-bottom: solid 2px var(--oscuro);
}

.scrolled {
    animation: scrollanim 0.2s;
    height: 10vh;
    background-color: #fad2aab0;
    box-shadow: 0px 5px 5px #000000ab;
}

header img:hover {
    animation: zoom-in 0.5s;
    transform: scale(1.1)
}

.navbar {
    margin: 5vh;
    display: flex;
    align-items:flex-end;
    align-items: center;
    gap: 30px;
}

.btn {
    scroll-behavior: smooth;
    background: var(--oscuro);
    color: white;
    border-style: solid;
    padding: 10px 20px;
    border-radius: 5px;
    height: 45px;
    width: 150px;
    transition: 0.3s;
    font-family: 'Alegreya SC';
    font-weight: 600;
    font-size: large;
    text-align: center;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.btn:hover {
    background: var(--claro);
    border-color: #000000;
    color: #000000;
    border-style: revert;

}

.MR-logo{
    margin-left: 12vh;
}

.sobre-mi {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/fondo-sobre-mi\ .webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 1000px;
    width: 100%;
    align-items: center;
}

.descripcion {
    width: 80%;
    background-color: var(--marron);
    text-align: start;
    padding: 100px;
    color: var(--claro);
    font-size: 20px;
    border: solid black;
    font-family: 'Alegreya SC';
    font-weight: 600;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
}

.MR-creaciones-logo { 
    width: 40%;
    margin-top: 60px;
    margin-bottom: 80px;
}

.seccion-trabajos {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: var(--claro);
    padding-bottom: 100px;
    border-block: solid black;
}

.trabajos {
    padding-top: 100px;
    text-align: center;
    margin-inline: 150px;
    justify-content: space-between;
    display: flex;
}

.muestra img {
    border-radius: 50%;
    padding-block: 100px;
}

h2 {
    text-shadow: 10px 10px 25px #00000093;
    text-align: center;
    font-size: 64px;
    font-family: 'Rum Raisin';
    font-weight: 700;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Rum Raisin';
    font-size: 36px;
    font-weight: 500;
    text-shadow: 0 0 2px #000000;
    color: #000000;
    letter-spacing: 2px;
}

.muestra p {
    margin-top: 20px;
    font-family: 'Alegreya SC';
    font-weight: 600;
    font-size: 24px;
}



footer {
    background-color: var(--suave);
    border-bottom: solid black;
}

.contacto {
    padding-block: 50px;
}

.contacto-btn {
    padding-top: 20px;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.contacto-btn a {
    background-color: #fae2ca;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);
    border-radius: 25%;
}

.contacto-btn a:hover {
    animation: zoom-in-out 1.7s  ease-in-out  infinite;
}

@keyframes zoom-in-out {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes zoom-in {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes scrollanim {
    from {height: 15vh; }
    to {height: 10vh; background-color: #fad2aab0; box-shadow: 0px 5px 5px #000000ab;}
}

@keyframes active-modal {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
}


/*
    sección de modal del apartado trabajos
*/


/* Boton-modal */
.boton {
    border: none;
    background: none;
}
.boton img {
    cursor: pointer;
    transition: 0.5s ease;
}

.boton img:active {
    animation: active-modal 1s ease;
}




/*
    Estilos modal de alambrismo
*/
#btn-modal-alambrismo {
    display: none;
}

.contenedor-alambrismo {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal-alambrismo:checked ~ .contenedor-alambrismo {
    display: flex;
}

.contenido-alambrismo {
    background-image: url('../assets/img/fondo-modal.webp');
    background-size: cover;
    width: 100%;
    max-width: 80%;
    height: 90%;
    padding: 20px;
    background-color: #494949;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #555 ;
}

.contenido-alambrismo .carrusel-alambrismo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenido-alambrismo .carrusel-alambrismo img {
    width: 50%;
}

.contenido-alambrismo .carrusel-alambrismo {
    
    display: flex;
    flex-direction: column;
}

.cerrar-alambrismo {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*Fin de estilos modal alambrismo*/



/*
    Estilos modal de costura
*/
#btn-modal-costura {
    display: none;
}

.contenedor-costura {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal-costura:checked ~ .contenedor-costura {
    display: flex;
}

.contenido-costura {
    background-image: url('../assets/img/fondo-modal.webp');
    background-size: cover;
    width: 100%;
    max-width: 80%;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #555 ;
}

.contenido-costura .carrusel-alambrismo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenido-costura .carrusel-alambrismo img {
    width: 50%;
}

.contenido-costura .carrusel-alambrismo {
    
    display: flex;
    flex-direction: column;
}

.cerrar-costura {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*Fin de estilos modal costura*/



/*
    Estilos modal de manualidades
*/
#btn-modal-manualidades {
    display: none;
}

.contenedor-manualidades {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #909496cc;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal-manualidades:checked ~ .contenedor-manualidades {
    display: flex;
}

.contenido-manualidades {
    background-image: url('../assets/img/fondo-modal.webp');
    background-size: cover;
    width: 100%;
    max-width: 80%;
    height: 90%;
    padding: 20px;
    background-color: #494949;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #555 ;
}

.contenido-manualidades .carrusel-alambrismo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenido-manualidades .carrusel-alambrismo img {
    width: 50%;
}

.contenido-manualidades .carrusel-alambrismo {
    display: flex;
    flex-direction: column;
}

.cerrar-manualidades {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*Fin de estilos modal manualidades*/


/*
    Estilo de carrusel de fotos (se comparte el código entre los 3 -alambrismo- -costura- -manualidades-)
*/

/* Estilo para los Sliders*/
#gallery {
    width: 90%;
    margin: auto;
    overflow: hidden;
        /* para centrar verticalmente dentro del modal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    box-sizing: border-box;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
    gap: 50px;
}

.gallery-item p {
    font-family: 'Alegreya SC';
    font-weight: 500;
    font-size: large;
    color: #ddd;
    padding: 5px 10px;
background-color: #0007;
    border-radius: 10px;
}

.gallery-item img {
    border-radius: 15px;
    box-shadow: 0 0 15px 5px #00000073;
    max-width: 33%;
    display: block;
}

/* Navegación del Slider */
.gallery-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding-inline: 11%;
}

.nav-button {
    background-color: transparent;
    color: rgb(226, 226, 226);
    font-size: larger;
    border: none;
    padding: 1.5vh 1.5vw;
    cursor: pointer;
    border-radius: 100%;
    transition: 150ms ease-in-out;
}

.nav-button:hover {
    background-color: #4445;
    box-shadow: 0 0 10px  #444a;
}

.nav-button:active {
    transform: scale(1.09);
}



/*
    Botón para cerrar modales (se comparte el código)
*/
.btn-cerrar {
    width: 100%;
    margin-top: 5px;
    font-size: 40px;
    text-shadow: 2px 2px 10px #000000;
    display: flex;
    justify-content: flex-end;
}

.btn-cerrar label{
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-cerrar label:hover {
    transform: scale(1.18);
    text-shadow: 0 0 10px #919191;
}
/* 
    Fin de la seccion de modales
*/